numpy<1.24
matplotlib==3.5.3
black
statsmodels
scipy>=1.0.0
jupyter
jupyterlab
ipython==7.23.1
ipykernel
pandas==1.2.1
otter-grader==2.0.0
pandoc>=1.12.1,<3.0.0
scikit-learn<=1.0.0
seaborn==0.11.2
plotly==5.10.0
SQLAlchemy==1.4.29
cufflinks
black[jupyter]
nbconvert==7.4.0
pandoc==2.3